---
import "../styles/global.css";
import "@fontsource-variable/lexend";
import "@fontsource/maple-mono";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Gemstone Systems</title>
    </head>
    <body class="font-lexend bg-gmstn-black text-gmstn-white font-light">
        <div
            class="flex flex-col items-center justify-center gap-12 p-8 pt-12 pb-18 lg:gap-20 lg:p-0 lg:pt-26 lg:pb-36"
        >
            <slot />
        </div>
    </body>
</html>
